1. ¿Qué es Pandas?
Pandas es una librería de Python utilizada para el análisis de datos. Proporciona estructuras de datos y herramientas que facilitan la manipulación, limpieza y análisis de datos, especialmente cuando se trabaja con datos tabulares, como los encontrados en archivos CSV, Excel o bases de datos SQL.

In [2]:
import pandas as pd

# Crear una Serie simple
serie = pd.Series([10, 20, 30, 40, 50])
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

2. Estructuras de Datos en Pandas

In [3]:
data = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'María'],
    'Edad': [23, 35, 45, 36],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

df = pd.DataFrame(data)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Pedro    45   Valencia
3  María    36    Sevilla

Lectura de Datos: Pandas facilita la lectura de datos desde diferentes formatos (CSV, Excel, SQL, JSON).

In [10]:
# Leer un archivo CSV
df = pd.read_csv('ejemplo_data.csv')

In [12]:
print(df.head())  # Muestra las primeras 5 filas
print(df.info())  # Muestra un resumen del DataFrame
print(df.describe())  # Estadísticas básicas

       ID        Nombre         2016          2017 Crecimiento Unidades  \
0   10002     Verde Mar  $125,000.00    $162500.00      30.00%      500
1  552278  Manantial sa  $920,000.00  $101,2000.00      10.00%      700
2   23477          ACME   $50,000.00      62500.00      25.00%      125
3   24900     Andes sur  $350,000.00     490000.00       4.00%       75
4  651029     San Pablo   $15,000.00     $12750.00     -15.00%       No

        fecha Activo
0   1-10-2015      1
1   6-23-2014      0
2   3-12-2016      1
3  10-28-2015      1
4   2-15-2014      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           6 non-null      int64
 1   Nombre       6 non-null      object
 2   2016         6 non-null      object
 3   2017         6 non-null      object
 4   Crecimiento  6 non-null      object
 5   Unidades     6 non-null      object
 6   fecha        6 non-null      object
 7   Activo       6 non-null      object
dtypes: int64(1), object(7)
memory usage: 516.0+ bytes
None
                  ID
count       6.000000
mean   318785.833333
std    329913.104103
min     10002.000000
25%     23832.750000
50%    288589.000000
75%    626341.250000
max    651029.000000

Selección de columnas:

In [14]:
nombres = df['Nombre']

In [15]:
nombres

0       Verde Mar
1    Manantial sa
2            ACME
3       Andes sur
4       San Pablo
5       San Pablo
Name: Nombre, dtype: object

Selección de filas:

In [16]:
primera_fila = df.iloc[0]  # Por índice
segunda_fila = df.loc[1]   # Por etiqueta